<div class="memory-container" id="mem-cont">
	{% if memory_lower %}
	{% for key, val in memory_lower.items() %}
	<div class="memory-row" id={{"row-" ~ key}}>
		<div class="memory-slot" id={{"page-" ~ key}}>{{"%04X" % key}}</div>
		{% for i in range(16) %}
		<div class="memory-cell" id={{i + key}}>{{"%02X" % val[i]}}</div>
		{% endfor %}
	</div>
	{% endfor %}
	...
	{% for key, val in memory_upper.items() %}
	<div class="memory-row" id={{"row-" ~ key}}>
		<div class="memory-slot" id={{"page-" ~ key}}>{{"%04X" % key}}</div>
		{% for i in range(16) %}
		<div class="memory-cell" id={{i + key}}>{{"%02X" % val[i]}}</div>
		{% endfor %}
	</div>
	{% endfor %}
	{% endif %}
</div>